@charset "utf-8";
/* CSS Document */

body {
	color: #555555;
}
a {
	color: #bccbde;
	text-decoration: none;
}



#lp-pom-form-409 {
	display: block;
	left: 14px;
	top: 58px;
	z-index: 39;
	width: 251px;
	height: -18px;
	position: absolute;
}
#lp-pom-form-409 .lp-pom-form-field label {
	margin-top: 0px;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	color: #000;
}
#lp-pom-form-409 .lp-pom-form-field .option label {
	font-family: arial;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	left: 18px;
	color: #000;
}
#lp-pom-form-409 .lp-pom-form-field .option input {
	top: 2px;
}
#lp-pom-form-409 .lp-pom-form-field input.text {
	background-color: #e5e2e2;
	color: #000;
	box-shadow: inset 0px 2px 3px #c6c4c4;
	-webkit-box-shadow: inset 0px 2px 3px #c6c4c4;
	-moz-box-shadow: inset 0px 2px 3px #c6c4c4;
	border-radius: 8px;
}
#lp-pom-form-409 .lp-pom-form-field textarea {
	background-color: #e5e2e2;
	color: #000;
	box-shadow: inset 0px 2px 3px #c6c4c4;
	-webkit-box-shadow: inset 0px 2px 3px #c6c4c4;
	-moz-box-shadow: inset 0px 2px 3px #c6c4c4;
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
	border-radius: 8px;
}
#lp-pom-form-409 .lp-pom-form-field input[type=text] {
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
}

 input[type=email] {
 	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
	margin-top: 20px;

 }
#lp-pom-form-409 .lp-pom-form-field select {
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
}
#lp-pom-form-409 .form_elem_nome {
	top: 19px;
	left: 0px;
	width: 239px;
	font-size: 15px;
	line-height: 15px;
	height: 26px;
	padding-left: 5px;
	padding-right: 5px;
}
#lp-pom-form-409 .form_elem_email {
	top: 19px;
	left: 0px;
	width: 239px;
	font-size: 15px;
	line-height: 15px;
	height: 26px;
	padding-left: 5px;
	padding-right: 5px;
}
#lp-pom-form-409 .form_elem_telefone {
	top: 19px;
	left: 0px;
	width: 239px;
	font-size: 15px;
	line-height: 15px;
	height: 26px;
	padding-left: 5px;
	padding-right: 5px;
}
#lp-pom-form-409 #group_whatsapp {
	top: 0px;
	left: 0px;
	width: 251px;
}
#lp-pom-form-409 #label_nome {
	height: 19px;
	top: 0px;
	width: auto;
}
#lp-pom-form-409 #label_email {
	height: 19px;
	top: 0px;
	width: auto;
}
#lp-pom-form-409 #label_telefone {
	height: 19px;
	top: 0px;
	width: auto;
}
#lp-pom-form-409 #container_nome {
	width: 251px;
	height: 45px;
	top: 0px;
}
#lp-pom-form-409 #container_email {
	width: 251px;
	height: 45px;
	top: 65px;
}
#lp-pom-form-409 #container_telefone {
	width: 251px;
 margin-top: 30px;
	top: 130px;
}
#lp-pom-form-409 #container_whatsapp {
	width: 251px;
	height: 21px;
	top: 195px;
}
</style> 


<style title="page-styles" type="text/css" data-page-type="main_mobile"> 

@media only screen and (max-width:600px) {
 
 
 #lp-pom-form-409 {
 display:block;
 left:14px;
 top:58px;
 z-index:39;
 width:251px;
 height:-18px;
 position:absolute;
}
 #lp-pom-form-409 .lp-pom-form-field label {
 margin-top:0px;
 font-family:arial;
 font-weight:bold;
 font-size:14px;
 line-height:15px;
 color:#000;
}
 #lp-pom-form-409 .lp-pom-form-field .option label {
 font-family:arial;
 font-weight:normal;
 font-size:13px;
 line-height:15px;
 left:18px;
 color:#000;
}
 #lp-pom-form-409 .lp-pom-form-field .option input {
top:2px;
}
 #lp-pom-form-409 .lp-pom-form-field input.text {
 background-color:#e5e2e2;
 color:#000;
 box-shadow:inset 0px 2px 3px #c6c4c4;
 -webkit-box-shadow:inset 0px 2px 3px #c6c4c4;
 -moz-box-shadow:inset 0px 2px 3px #c6c4c4;
 border-radius:8px;
}
 #lp-pom-form-409 .lp-pom-form-field textarea {
 background-color:#e5e2e2;
 color:#000;
 box-shadow:inset 0px 2px 3px #c6c4c4;
 -webkit-box-shadow:inset 0px 2px 3px #c6c4c4;
 -moz-box-shadow:inset 0px 2px 3px #c6c4c4;
 border-style:solid;
 border-width:1px;
 border-color:#bbbbbb;
 border-radius:8px;
}
 #lp-pom-form-409 .lp-pom-form-field input[type=text] {
 border-style:solid;
 border-width:1px;
 border-color:#bbbbbb;
}
 #lp-pom-form-409 .lp-pom-form-field select {
 border-style:solid;
 border-width:1px;
 border-color:#bbbbbb;
}
 #lp-pom-form-409 .form_elem_nome {
 top:19px;
 left:0px;
 width:239px;
 font-size:15px;
 line-height:15px;
 height:26px;
 padding-left:5px;
 padding-right:5px;
}
 #lp-pom-form-409 .form_elem_email {
 top:19px;
 left:0px;
 width:239px;
 font-size:15px;
 line-height:15px;
 height:26px;
 padding-left:5px;
 padding-right:5px;
}
 #lp-pom-form-409 .form_elem_telefone {
 top:19px;
 left:0px;
 width:239px;
 font-size:15px;
 line-height:15px;
 height:26px;
 padding-left:5px;
 padding-right:5px;
}
 #lp-pom-form-409 #group_whatsapp {
 top:0px;
 left:0px;
 width:251px;
}
 #lp-pom-form-409 #label_nome {
 height:19px;
 top:0px;
 width:auto;
}
 #lp-pom-form-409 #label_email {
 height:19px;
 top:0px;
 width:auto;
}
 #lp-pom-form-409 #label_telefone {
 height:19px;
 top:0px;
 width:auto;
}
 #lp-pom-form-409 #container_nome {
 width:251px;
 height:45px;
 top:0px;
}
 #lp-pom-form-409 #container_email {
 width:251px;
 height:45px;
 top:65px;
}
 #lp-pom-form-409 #container_telefone {
 width:251px;
 height:45px;
 top:130px;
}
 #lp-pom-form-409 #container_whatsapp {
 width:251px;
 height:21px;
 top:195px;
}
}
